Repository elide-dev/elide, changes with the labels that .github/labeler.yml gives for each.
All labels: tools, platform:jvm, platform:browser, module:base, module:graalvm, module:model, module:rpc, module:server, module:frontend, ci:build-img-jvm, ci:build-img-native

.github/labeler.yml:

#
# Labels: Generic
#
"tools":
  - any: ["tools/**/*"]
"release":
  - all: [".version", "README.md"]

#
# Labels: Platform
#
"platform:jvm":
  - any: ["packages/base/**/*"]
  - any: ["packages/graalvm/**/*"]
  - any: ["packages/model/**/*"]
  - any: ["packages/rpc/**/*", "packages/rpc-jvm/**/*"]
  - any: ["packages/server/**/*"]
"platform:browser":
  - any: ["packages/base/**/*"]
  - any: ["packages/frontend/**/*"]

#
# Labels: Modules
#
"module:base":
  - any: ["packages/base/**/*"]
"module:graalvm":
  - any: ["packages/graalvm/**/*", "packages/graalvm-js/**/*", "packages/graalvm-react/**/*"]
"module:model":
  - any: ["packages/model/**/*"]
"module:rpc":
  - any: ["packages/rpc/**/*", "packages/rpc-jvm/**/*", "packages/rpc-js/**/*"]
"module:server":
  - any: ["packages/server/**/*"]
"module:frontend":
  - any: ["packages/frontend/**/*"]

#
# Labels: CI Triggers
#
"ci:build-img-jvm":
  - any: ["samples/**/*.kt"]
"ci:build-img-native":
  - any: ["samples/**/*.kt"]

chore: sort/cleanup version catalog, add owasp dep
  gradle/elide.versions.toml
Labels: none

fix: local build caching
  settings.gradle.kts
Labels: none

chore: root build file cleanup, enable owasp check
  build.gradle.kts
  gradle.properties
  gradle/elide.versions.toml
Labels: none

chore: more tool excludes
  packages/proto/proto-capnp/build.gradle.kts
  packages/proto/proto-protobuf/build.gradle.kts
  packages/rpc/build.gradle.kts
Labels: none

chore: run formatter (java)
  packages/proto/proto-core/src/jvmMain/java/elide/proto/ProtoAPI.java
  packages/proto/proto-core/src/jvmMain/java/elide/proto/api/package-info.java
  packages/proto/proto-core/src/jvmMain/java/elide/proto/package-info.java
Labels: none

chore: cleanup root build
  build.gradle.kts
  gradle.properties
Labels: none

chore: update lockfiles + verification metadata
  buildscript-gradle.lockfile
  gradle/verification-keyring.gpg
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  packages/base/gradle.lockfile
  packages/core/gradle.lockfile
  packages/embedded/gradle.lockfile
  packages/frontend/gradle.lockfile
  packages/graalvm-js/gradle.lockfile
  packages/graalvm-react/gradle.lockfile
  packages/graalvm/gradle.lockfile
  packages/http/gradle.lockfile
  packages/model/gradle.lockfile
  packages/proto/proto-test/gradle.lockfile
  packages/runtime/gradle.lockfile
  packages/ssr/gradle.lockfile
  packages/test/gradle.lockfile
  packages/wasm/gradle.lockfile
Labels: platform:jvm, platform:browser, module:base, module:model, module:frontend

chore: update notice
  NOTICE.txt
Labels: none

chore: update lockfiles + verification metadata
  buildscript-gradle.lockfile
  gradle/verification-keyring.gpg
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  packages/cli/gradle.lockfile
  packages/embedded/gradle.lockfile
  packages/graalvm-py/gradle.lockfile
  packages/rpc/gradle.lockfile
  packages/server/gradle.lockfile
Labels: platform:jvm, module:server

chore: dep updates, add missing catalog mappings
  gradle/elide.versions.toml
Labels: none

chore: implement dokka conventions
  gradle/elide.versions.toml
  tools/elide-build/build.gradle.kts
  tools/elide-build/src/main/kotlin/elide/internal/conventions/ElideBuildExtension.kt
  tools/elide-build/src/main/kotlin/elide/internal/conventions/docs/DokkaConventionsPlugin.kt
Labels: tools

chore: update pnpm lock
  pnpm-lock.yaml
Labels: none

chore: configuration for owasp
  build.gradle.kts
  config/owasp/suppressions.xml
  tools/conventions/src/main/kotlin/Versions.kt
  tools/elide-build/src/main/kotlin/elide/internal/conventions/Constants.kt
  tools/elide-build/src/main/kotlin/elide/internal/conventions/dependencies/DependencyResolutionConventions.kt
Labels: tools

chore: tune owasp settings
  build.gradle.kts
Labels: none

fix: drop older jetty deps
  packages/cli/build.gradle.kts
Labels: none

chore: fill out owasp suppressions
  config/owasp/owasp-suppressions.xml
Labels: none

chore: investigate and suppress more cves
  config/owasp/owasp-suppressions.xml
Labels: none

chore: license header cleanups
  .github/GOVERNANCE.md
  packages/cli/build.gradle.kts
  packages/graalvm/build.gradle.kts
  tools/elide-build/src/main/kotlin/elide/internal/conventions/docs/DokkaConventionsPlugin.kt
  tools/elide-build/src/main/kotlin/elide/internal/conventions/linting/KtlintConventions.kt
Labels: tools, platform:jvm

chore: configure eslint and pin eslint/prettier
  .eslintrc.js
  package.json
  tools/elide-build/src/main/kotlin/elide/internal/conventions/Constants.kt
  tools/elide-build/src/main/kotlin/elide/internal/conventions/ElideBuildExtension.kt
  tools/elide-build/src/main/kotlin/elide/internal/conventions/linting/SpotlessConventionsPlugin.kt
Labels: tools

feat: security scanning with snyk and owasp
  build.gradle.kts
  config/owasp/owasp-suppressions.xml
  config/owasp/suppressions.xml
  gradle/elide.versions.toml
Labels: none

chore: formatter changes for docs dir
  docs/reports/index.html
  docs/reports/root.html
  docs/reports/root.js
Labels: none

chore: update kotlin npm lock
  kotlin-js-store/package-lock.json
Labels: none

fix: enable header validation for netty responses
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/server/http/netty/NettyHttpResponse.kt
Labels: platform:jvm

fix: kotlin wrapper version/coordinate changes
  gradle/elide.versions.toml
Labels: none

chore: relock pnpm deps
  pnpm-lock.yaml
Labels: none

fix: don't generate reports automatically from `check`
  build.gradle.kts
  tools/reports/build.gradle.kts
Labels: tools

fix: dokka subprojects plugin access
  build.gradle.kts
Labels: none

chore: lint nit fixes
  build.gradle.kts
Labels: none

fix: use of `jso` symbol in kjs
  packages/graalvm-js/src/jsMain/kotlin/elide/frontend/ssr/ApplicationBuffer.kt
  samples/fullstack/react-ssr/node/src/main/kotlin/main.kt
  samples/fullstack/ssr/node/src/main/kotlin/main.kt
  site/docs/node/src/main/kotlin/main.kt
  site/docs/ui/src/main/kotlin/elide/site/ui/ElideSite.kt
  site/docs/ui/src/main/kotlin/elide/site/ui/MDX.kt
  site/docs/ui/src/main/kotlin/elide/site/ui/components/Header.kt
  site/docs/ui/src/main/kotlin/elide/site/ui/components/ThemeModuleStatic.kt
  site/docs/ui/src/main/kotlin/elide/site/ui/components/ThemeModuleWeb.kt
  site/docs/ui/src/main/kotlin/elide/site/ui/pages/Home.kt
  site/docs/ui/src/main/kotlin/elide/site/ui/theme/Themes.kt
  site/docs/ui/src/main/kotlin/main.kt
Labels: ci:build-img-jvm, ci:build-img-native

chore: suppress pmd/checkstyle for `proto-capnp`
  packages/proto/proto-capnp/build.gradle.kts
Labels: none

chore: update built reports
  docs/reports/index.html
  docs/reports/root.html
  docs/reports/root.js
Labels: none

chore: use yarn for kjs, checkstyle config
  .gitignore
  .prettierignore
  .prettierrc.json
  build.gradle.kts
  config/checkstyle/checkstyle.xml
  gradle-yarn.lock
  gradle.properties
  knit.properties
  kotlin-js-store/package-lock.json
  package.json
  packages/cli/packaging/npm/package-lock.json
  packages/proto/proto-capnp/build.gradle.kts
  packages/proto/proto-protobuf/build.gradle.kts
  packages/rpc/build.gradle.kts
  settings.gradle.kts
  tools/elide-build/src/main/kotlin/elide/internal/conventions/ElideBuildExtension.kt
  tools/reports/build.gradle.kts
Labels: tools

fix: streaming ssr updated symbols in kjs
  packages/graalvm-js/src/jsMain/kotlin/elide/frontend/ssr/ApplicationBuffer.kt
Labels: none

chore: setup prettier xml support, add checkstyle config
  config/checkstyle/checkstyle.xml
  package.json
Labels: none

chore: final nitfixes before filing pr
  docs/reports/index.html
  docs/reports/root.html
  docs/reports/root.js
  gradle/verification-metadata.xml
Labels: none

fix: dokka build
  packages/embedded/build.gradle.kts
  packages/embedded/src/main/kotlin/elide/embedded/api/InstanceConfigurationFactory.kt
Labels: none

fix: file naming alignment with `ProtoApi` class
  packages/proto/proto-core/src/jvmMain/java/elide/proto/ProtoApi.java
Labels: none

fix: drop configuration cache in ci
  .github/workflows/job.build.yml
  .github/workflows/job.test.yml
Labels: none

chore: ci cleanups and permission fixes
  .github/workflows/job.build.yml
  .github/workflows/on.pr.yml
  .github/workflows/on.push.yml
Labels: none

chore: drop pycs
  .gitignore
  packages/graalvm-py/src/main/resources/META-INF/elide/embedded/runtime/python/__pycache__/environment.cpython-311.pyc
Labels: none
