Repository elide-dev/elide, pull requests merged in 2023-01, with the labels that each got.

#127 Convert `loadProps.gradle` to Kotlin script
  buildSrc/build.gradle.kts
  gradle/loadProps.gradle
  gradle/loadProps.gradle.kts
  tools/substrate/buildSrc/build.gradle.kts
Labels: enhancement, tools

#152 Omnibus fixes for `alpha2`
  .github/renovate.json
  .github/workflows/build.ci.yml
  gradle-ci.properties
  gradle.properties
  gradle/elide.versions.toml
  kotlin-js-store/yarn.lock
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/repl/ToolShellCommand.kt
  packages/graalvm-js/src/main/kotlin/elide/frontend/ssr/ApplicationBuffer.kt
  packages/graalvm-js/src/main/kotlin/elide/frontend/ssr/SSRContext.kt
  packages/graalvm/src/main/kotlin/elide/runtime/feature/FrameworkFeature.kt
  packages/graalvm/src/main/kotlin/elide/runtime/feature/VirtualFilesystem.kt
  packages/graalvm/src/main/kotlin/elide/runtime/feature/js/JsRuntimeFeature.kt
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/AbstractGVMScript.kt
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/AbstractVMEngine.kt
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/intrinsics/js/console/ConsoleIntrinsic.kt
  packages/graalvm/src/main/resources/META-INF/elide/embedded/runtime/js/facade.js
  packages/graalvm/src/main/resources/META-INF/elide/embedded/runtime/js/polyfills.js
  packages/graalvm/src/main/resources/META-INF/native-image/dev.elide/graalvm/native-image.properties
  packages/graalvm/src/test/kotlin/elide/runtime/gvm/internals/intrinsics/js/console/JsConsoleIntrinsicTest.kt
  packages/server/api/server.api
  packages/server/src/main/kotlin/elide/server/SSRExtensions.kt
  packages/server/src/main/kotlin/elide/server/ssr/ServerSSRRenderer.kt
  packages/ssr/api/ssr.api
  packages/ssr/src/commonMain/kotlin/elide/runtime/ssr/RenderedStream.kt
  packages/ssr/src/commonMain/kotlin/elide/runtime/ssr/SSRStreamingTypes.kt
  packages/ssr/src/commonMain/kotlin/elide/runtime/ssr/ServerResponse.kt
  packages/ssr/src/commonMain/kotlin/elide/runtime/ssr/StreamResponse.kt
  samples/fullstack/react-ssr/node/src/main/kotlin/main.kt
  samples/fullstack/ssr/node/src/main/kotlin/main.kt
  site/docs/app/build.gradle.kts
  site/docs/app/src/main/kotlin/elide/site/controllers/SitePageController.kt
  site/docs/app/src/main/resources/META-INF/native-image/jni-config.json
  site/docs/app/src/main/resources/META-INF/native-image/predefined-classes-config.json
  site/docs/app/src/main/resources/META-INF/native-image/proxy-config.json
  site/docs/app/src/main/resources/META-INF/native-image/reflect-config.json
  site/docs/app/src/main/resources/META-INF/native-image/resource-config.json
  site/docs/app/src/main/resources/META-INF/native-image/serialization-config.json
  site/docs/app/src/main/resources/logback.xml
  site/docs/node/build.gradle.kts
  site/docs/node/src/main/kotlin/main.kt
  site/docs/ui/build.gradle.kts
  tools/conventions/src/main/kotlin/Elide.kt
  tools/plugin/gradle-plugin/.github/workflows/pre-merge.yaml
  tools/plugin/gradle-plugin/.github/workflows/publish-plugin.yaml
  tools/plugin/gradle-plugin/.version
  tools/plugin/gradle-plugin/README.md
  tools/plugin/gradle-plugin/gradle/libs.versions.toml
  tools/plugin/gradle-plugin/plugin-build/buildSrc/src/main/java/Coordinates.kt
  tools/plugin/gradle-plugin/plugin-build/gradle/wrapper/gradle-wrapper.jar
  tools/plugin/gradle-plugin/plugin-build/gradle/wrapper/gradle-wrapper.properties
  tools/plugin/gradle-plugin/plugin-build/gradlew
  tools/plugin/gradle-plugin/plugin-build/gradlew.bat
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/java/dev/elide/buildtools/gradle/plugin/BuildMode.kt
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/java/dev/elide/buildtools/gradle/plugin/tasks/EmbeddedJsBuildTask.kt
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/resources/dev/elide/buildtools/js/esbuild-wrapper.js.hbs
Labels: bug, platform:jvm, 🚧 WIP

#157 chore: cleanup JS runtime v2
  packages/graalvm/src/main/resources/META-INF/elide/embedded/runtime/abort-controller.js
  packages/graalvm/src/main/resources/META-INF/elide/embedded/runtime/globals.js
  packages/graalvm/src/main/resources/META-INF/elide/embedded/runtime/invoke.js
  packages/graalvm/src/main/resources/META-INF/elide/embedded/runtime/preamble.js
  packages/graalvm/src/main/resources/META-INF/elide/embedded/runtime/runtime-js.json
Labels: platform:jvm

#161 Chore: Cleanup JS Runtime v2 (Part II)
  gradle-ci.properties
  gradle.properties
  gradle/elide.versions.toml
  packages/graalvm-react/src/main/node/stream/index.js
  packages/graalvm-react/src/main/node/stream/package.json
  packages/graalvm-react/src/main/node/util/index.js
  packages/graalvm-react/src/main/node/util/textencoder.js
  tools/conventions/src/main/kotlin/Elide.kt
  tools/plugin/gradle-plugin/.version
  tools/plugin/gradle-plugin/README.md
  tools/plugin/gradle-plugin/plugin-build/buildSrc/src/main/java/Coordinates.kt
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/node/runtime/stream/index.js
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/node/runtime/stream/package.json
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/node/runtime/util/index.js
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/node/runtime/util/textencoder.js
Labels: tools

#167 Feature: JS Runtime Injection
  gradle-ci.properties
  gradle.properties
  gradle/elide.versions.toml
  kotlin-js-store/yarn.lock
  package.json
  packages/base/src/jvmMain/kotlin/elide/runtime/jvm/Logger.kt
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/AbstractSubcommand.kt
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/repl/ToolShellCommand.kt
  packages/graalvm-react/src/main/node/util/index.js
  packages/graalvm-react/src/main/node/util/inherits.js
  packages/graalvm-react/src/main/node/util/package.json
  packages/graalvm/api/graalvm.api
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/AbstractVMEngine.kt
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/GuestVFS.kt
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/intrinsics/js/console/ConsoleIntrinsic.kt
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/js/JsRuntime.kt
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/vfs/AbstractDelegateVFS.kt
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/vfs/EmbeddedGuestVFSImpl.kt
  packages/graalvm/src/main/resources/META-INF/elide/embedded/runtime/js/js.modules.tar.gz
  packages/graalvm/src/test/kotlin/elide/runtime/gvm/PolyglotScriptTest.kt
  site/docs/app/build.gradle.kts
  tools/conventions/src/main/kotlin/Elide.kt
  tools/plugin/gradle-plugin/.version
  tools/plugin/gradle-plugin/README.md
  tools/plugin/gradle-plugin/plugin-build/buildSrc/src/main/java/Coordinates.kt
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/java/dev/elide/buildtools/gradle/plugin/tasks/BundleSpecTask.kt
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/java/dev/elide/buildtools/gradle/plugin/tasks/EmbeddedJsBuildTask.kt
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/node/runtime/util/index.js
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/node/runtime/util/inherits.js
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/node/runtime/util/package.json
  tools/plugin/gradle-plugin/plugin-build/plugin/src/main/resources/dev/elide/buildtools/js/esbuild-wrapper.js.hbs
Labels: bug, enhancement, module:base, platform:jvm, tools, platform:browser

#180 Site: SEO bugfixes, mobile styles
  site/docs/app/src/main/kotlin/elide/site/controllers/SitePageController.kt
  site/docs/content/src/commonMain/kotlin/elide/site/ElideSite.kt
  site/docs/content/src/jvmMain/kotlin/elide/site/pages/GettingStarted.kt
  site/docs/content/src/jvmMain/kotlin/elide/site/pages/Library.kt
  site/docs/node/src/main/kotlin/main.kt
  site/docs/ui/src/main/assets/base.css
  site/docs/ui/src/main/assets/base.min.css
  site/docs/ui/src/main/assets/home.css
  site/docs/ui/src/main/assets/home.min.css
  site/docs/ui/src/main/kotlin/elide/site/ui/ElideSite.kt
  site/docs/ui/src/main/kotlin/elide/site/ui/components/Content.kt
  site/docs/ui/src/main/kotlin/elide/site/ui/components/Menu.kt
  site/docs/ui/src/main/kotlin/elide/site/ui/components/Sidebar.kt
  site/docs/ui/src/main/kotlin/elide/site/ui/pages/startup/GettingStarted.kt
  site/docs/ui/src/main/mdx/getting-started/install-library.md
  site/docs/ui/src/main/mdx/getting-started/install-runtime.md
  site/docs/ui/src/main/resources/index.html
Labels: bug, site
