Repository elide-dev/elide, pull requests merged in 2023-12, with the labels that each got.

#506 chore: add buildless github action to ci
  .github/workflows/build.ci.yml
Labels: enhancement

#477 fix(graalvm): include core module replacements by default in js plugin.
  packages/graalvm/src/main/kotlin/elide/runtime/plugins/js/JavaScriptConfig.kt
  packages/graalvm/src/test/kotlin/elide/runtime/plugins/js/JsCoreModulesTest.kt
Labels: platform:jvm, javascript

#507 chore: buildless updates
  .github/workflows/build.ci.yml
  settings.gradle.kts
  tools/plugin/gradle-plugin/plugin-build/settings.gradle.kts
  tools/plugin/gradle-plugin/settings.gradle.kts
  tools/substrate/buildSrc/settings.gradle.kts
  tools/substrate/settings.gradle.kts
Labels: 🚧 WIP
