Repository elide-dev/elide, pull requests merged in 2023-10, with the labels that each got.

#446 chore: add patreon
  .github/FUNDING.yml
Labels: documentation, dev

#447 chore: consolidate contribution guides
  .github/CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, dev

#448 Pre-release Hotfixes: `alpha7`
  package.json
  packages/cli/src/main/kotlin/elide/tool/cli/AbstractSubcommand.kt
  packages/cli/src/main/kotlin/elide/tool/cli/ElideTool.kt
  packages/cli/src/main/kotlin/elide/tool/engine/NativeEngine.kt
  packages/cli/src/main/kotlin/elide/tool/io/RuntimeWorkdirManager.kt
  packages/cli/src/main/resources/META-INF/native-image/resource-config.json
  packages/cli/src/main/resources/elide.yml
  packages/cli/src/main/resources/logback.xml
  packages/graalvm/src/main/kotlin/elide/runtime/feature/engine/NativeTransportFeature.kt
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/server/http/HttpServerAgent.kt
  packages/server/src/main/kotlin/elide/server/Application.kt
  packages/server/src/main/kotlin/elide/server/cfg/ServerConfigurator.kt
  pnpm-lock.yaml
  samples/fullstack/react-ssr/server/src/main/kotlin/fullstack/reactssr/App.kt
  tools/scripts/express.js
Labels: bug, enhancement, ci:build-img-jvm, ci:build-img-native, module:server, platform:jvm, tools

#449 Feature: Sicko Mode (Loom)
  packages/cli/src/main/kotlin/elide/tool/cli/AbstractSubcommand.kt
  packages/cli/src/main/resources/elide.yml
Labels: enhancement

#466 feat(dev): add codespace template for trying elide
  .devcontainer/Elide.dockerfile
  .devcontainer/elide.devcontainer.json
Labels: enhancement, dev

#473 chore: add homebrew install to readme
  README.md
Labels: enhancement

#467 feat(dev): add `bash` and `elide` containers
  tools/images/base/Dockerfile
  tools/images/bash/Dockerfile
  tools/images/bash/Makefile
  tools/images/bash/cloudbuild.yaml
  tools/images/elide/Dockerfile
  tools/images/elide/Makefile
  tools/images/elide/cloudbuild.yaml
  tools/images/elide/entrypoint.sh
Labels: enhancement, tools, dev

#476 fix(cli): avoid crashing when no user config directory is present.
  packages/cli/src/main/kotlin/elide/tool/io/RuntimeWorkdirManager.kt
Labels: module:cli
