Repository elide-dev/elide, pull requests merged in 2023-09, with the labels that each got.

#395 fix: native-image jit linkage errors in `cli`
  gradle/elide.versions.toml
  packages/cli/build.gradle.kts
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/repl/ToolShellCommand.kt
Labels: bug, 🚧 WIP, module:cli, P0

#407 feat: add initial issue templates
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/new_feature.yaml
  .github/ISSUE_TEMPLATE/other.yaml
Labels: enhancement, dev

#408 chore: update `bug_report` template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: enhancement, dev

#415 fix: avoid duplicate javadoc artifacts in publications.
  tools/elide-build/build.gradle.kts
  tools/elide-build/src/main/kotlin/elide/internal/conventions/ElideConventionPlugin.kt
  tools/processor/build.gradle.kts
Labels: tools

#432 fix(build): publish sources jar in pure JVM projects
  tools/elide-build/src/main/kotlin/elide/internal/conventions/kotlin/KotlinConventions.kt
Labels: tools
