Repository elide-dev/elide, pull requests merged in 2024-06, with the labels that each got.

#955 feat: upgrade `mosaic` → `0.13.0`
  buildscript-gradle.lockfile
  gradle/elide.versions.toml
  packages/cli/build.gradle.kts
  packages/cli/gradle.lockfile
  packages/cli/src/main/kotlin/elide/tool/cli/output/Mosaic.kt
  packages/embedded/gradle.lockfile
  packages/runtime/build.gradle.kts
  packages/runtime/gradle.lockfile
  packages/runtime/src/main/kotlin/elide/tool/cli/output/Mosaic.kt
  packages/runtime/src/main/kotlin/elide/tool/testing/SelfTest.kt
  packages/runtime/src/main/kotlin/elide/tool/transport/NativeTests.kt
  tools/elide-build/build.gradle.kts
Labels: enhancement, module:cli

#957 feat(makefile): add js runtime build targets
  Makefile
Labels: enhancement

#968 fix: typescript support
  packages/graalvm-ts/api/graalvm-ts.api
  packages/graalvm-ts/src/main/java/elide/runtime/lang/typescript/TypeScriptLanguage.java
  packages/graalvm-ts/src/main/java/elide/runtime/lang/typescript/internals/TypeScriptCompiler.java
  packages/graalvm-ts/src/main/kotlin/elide/runtime/plugins/typescript/TypeScript.kt
  packages/graalvm-ts/src/test/kotlin/elide/runtime/lang/typescript/TypeScriptLanguageTest.kt
  packages/graalvm/src/main/kotlin/elide/runtime/core/internals/graalvm/GraalVMEngine.kt
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/sqlite/SqliteModule.kt
  packages/graalvm/src/main/kotlin/elide/runtime/plugins/js/JavaScript.kt
  packages/graalvm/src/main/kotlin/elide/runtime/plugins/js/JavaScriptConfig.kt
  tools/scripts/hello.ts
Labels: bug, lang:typescript

#981 fix: elide server response headers
  .gitattributes
  packages/graalvm/api/graalvm.api
  packages/graalvm/detekt-baseline.xml
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/server/http/ExpressResponseAPI.kt
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/server/http/HttpResponse.kt
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/server/http/netty/NettyHttpResponse.kt
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/server/http/netty/NettyRequestHandler.kt
Labels: bug, module:server

#982 fix: dangling `wrappers` project (unused)
  settings.gradle.kts
Labels: dev

#985 fix(runtime): jna on non-macOS operating systems
  packages/runtime/src/config/resource-config-darwin-aarch64.json
  packages/runtime/src/config/resource-config-darwin-amd64.json
  packages/runtime/src/config/resource-config-linux-aarch64.json
  packages/runtime/src/config/resource-config-linux-amd64.json
  packages/runtime/src/config/resource-config-windows-aarch64.json
  packages/runtime/src/config/resource-config-windows-amd64.json
  packages/runtime/src/main/resources/META-INF/native-image/resource-config.json
Labels: bug, module:cli

#995 fix: cast err with python + embedded vfs
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/vfs/EmbeddedGuestVFSImpl.kt
  packages/runtime/build.gradle.kts
  packages/runtime/src/main/resources/META-INF/native-image/reflect-config.json
Labels: bug, P0, lang:python

#1006 fix(sqlite): static jni for sqlite
  packages/graalvm/src/main/kotlin/elide/runtime/feature/engine/AbstractStaticNativeLibraryFeature.kt
  packages/graalvm/src/main/kotlin/elide/runtime/feature/engine/NativeSQLiteFeature.kt
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/sqlite/SqliteModule.kt
  packages/runtime/build.gradle.kts
  packages/sqlite/build.gradle.kts
  packages/sqlite/src/main/cpp/NativeDB.c
  packages/sqlite/src/main/java/org/sqlite/SQLiteJDBCLoader.java
  packages/sqlite/src/main/java/org/sqlite/core/NativeDB.java
  packages/sqlite/src/main/java/org/sqlite/util/LibraryLoaderUtil.java
Labels: bug, sqlite

#1010 fix(typescript): fixup ts module loader
  packages/graalvm-ts/src/main/java/elide/runtime/lang/typescript/JSRealmPatcher.java
  packages/graalvm-ts/src/main/java/elide/runtime/lang/typescript/TypeScriptLanguage.java
Labels: bug, lang:typescript

#1017 fix(sqlite): static initialization
  packages/graalvm/detekt-baseline.xml
  packages/graalvm/src/main/kotlin/elide/runtime/feature/engine/NativeSQLiteFeature.kt
  packages/runtime/src/main/resources/META-INF/native-image/jni-config.json
  packages/sqlite/src/main/cpp/NativeDB.c
  packages/sqlite/src/main/java/org/sqlite/SQLiteJDBCLoader.java
Labels: bug, P0, sqlite

#1022 feat: static jni support for `jansi`
  packages/graalvm/detekt-baseline.xml
  packages/graalvm/src/main/kotlin/elide/runtime/feature/engine/NativeConsoleFeature.kt
  packages/graalvm/src/main/kotlin/elide/runtime/feature/engine/NativeCryptoFeature.kt
  packages/runtime/build.gradle.kts
  packages/runtime/src/config/resource-config-darwin-aarch64.json
  packages/runtime/src/config/resource-config-darwin-amd64.json
  packages/runtime/src/config/resource-config-linux-aarch64.json
  packages/runtime/src/config/resource-config-linux-amd64.json
  packages/runtime/src/config/resource-config-windows-aarch64.json
  packages/runtime/src/config/resource-config-windows-amd64.json
  packages/runtime/src/main/resources/META-INF/native-image/resource-config.json
  packages/terminal/build.gradle.kts
  packages/terminal/src/main/cpp/clibrary.c
  packages/terminal/src/main/cpp/jansi.c
  packages/terminal/src/main/cpp/jansi_isatty.c
  packages/terminal/src/main/cpp/jansi_structs.c
  packages/terminal/src/main/cpp/jansi_ttyname.c
  packages/terminal/src/main/cpp/jlinenative.c
  packages/terminal/src/main/cpp/kernel32.c
  packages/terminal/src/main/cpp/terminaljni.c
  packages/terminal/src/main/headers/jansi.h
  packages/terminal/src/main/headers/jansi_structs.h
  packages/terminal/src/main/headers/jlinenative.h
  packages/terminal/src/main/java/org/fusesource/jansi/Ansi.java
  packages/terminal/src/main/java/org/fusesource/jansi/AnsiColors.java
  packages/terminal/src/main/java/org/fusesource/jansi/AnsiConsole.java
  packages/terminal/src/main/java/org/fusesource/jansi/AnsiMode.java
  packages/terminal/src/main/java/org/fusesource/jansi/AnsiPrintStream.java
  packages/terminal/src/main/java/org/fusesource/jansi/AnsiRenderer.java
  packages/terminal/src/main/java/org/fusesource/jansi/AnsiType.java
  packages/terminal/src/main/java/org/fusesource/jansi/internal/CLibrary.java
  packages/terminal/src/main/java/org/fusesource/jansi/internal/JansiLoader.java
  packages/terminal/src/main/java/org/fusesource/jansi/internal/Kernel32.java
  packages/terminal/src/main/java/org/fusesource/jansi/internal/MingwSupport.java
  packages/terminal/src/main/java/org/fusesource/jansi/internal/OSInfo.java
  packages/terminal/src/main/java/org/fusesource/jansi/io/AnsiOutputStream.java
  packages/terminal/src/main/java/org/fusesource/jansi/io/AnsiProcessor.java
  packages/terminal/src/main/java/org/fusesource/jansi/io/Colors.java
  packages/terminal/src/main/java/org/fusesource/jansi/io/ColorsAnsiProcessor.java
  packages/terminal/src/main/java/org/fusesource/jansi/io/FastBufferedOutputStream.java
  packages/terminal/src/main/java/org/fusesource/jansi/io/WindowsAnsiProcessor.java
  packages/terminal/src/main/java/org/jline/nativ/CLibrary.java
  packages/terminal/src/main/java/org/jline/nativ/JLineLibrary.java
  packages/terminal/src/main/java/org/jline/nativ/JLineNativeLoader.java
  packages/terminal/src/main/java/org/jline/nativ/Kernel32.java
  packages/terminal/src/main/java/org/jline/nativ/OSInfo.java
  packages/terminal/src/main/resources/META-INF/native-image/org.jline/jline-native/jni-config.json
  packages/terminal/src/main/resources/META-INF/native-image/org.jline/jline-native/reflect-config.json
  packages/terminal/src/main/resources/META-INF/native-image/org.jline/jline-native/resource-config.json
  settings.gradle.kts
Labels: feature, module:cli, native
