Repository elide-dev/elide, pull requests merged in 2025-07, with the labels that each got.

#1521 feat(node): support for `fs.opendir[Sync]`
  packages/graalvm/api/graalvm.api
  packages/graalvm/build.gradle.kts
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/js/node/FilesystemAPI.kt
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/js/node/FilesystemPromiseAPI.kt
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/js/node/fs/Dir.kt
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/js/node/fs/Dirent.kt
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/js/node/fs/OpenDirOptions.kt
  packages/graalvm/src/main/kotlin/elide/runtime/node/fs/Directory.kt
  packages/graalvm/src/main/kotlin/elide/runtime/node/fs/DirectoryEntry.kt
  packages/graalvm/src/main/kotlin/elide/runtime/node/fs/NodeFilesystem.kt
  packages/graalvm/src/test/kotlin/elide/runtime/node/NodeFsPromisesTest.kt
  packages/graalvm/src/test/kotlin/elide/runtime/node/NodeFsTest.kt
Labels: enhancement, lang:javascript, api:node

#1519 chore: dependency updates, rust → `1.88.0`
  .dev/elide.lock.bin
  Cargo.lock
  Cargo.toml
  config/bun-version
  gradle/elide.versions.toml
  package-lock.kdl
  package.json
  rust-toolchain.toml
  tools/elide-build/src/main/kotlin/elide/internal/conventions/Constants.kt
Labels: dependencies

#1523 feat(cli): add `lsp` and `mcp` commands
  gradle/elide.versions.toml
  packages/cli/build.gradle.kts
  packages/cli/src/main/kotlin/elide/tool/cli/AbstractSubcommand.kt
  packages/cli/src/main/kotlin/elide/tool/cli/Elide.kt
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/dev/LspCommand.kt
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/dev/McpCommand.kt
  packages/cli/src/main/kotlin/elide/tool/cli/options/LspOptions.kt
  packages/cli/src/main/kotlin/elide/tool/cli/options/McpOptions.kt
  packages/cli/src/main/pkl/Dev.pkl
  packages/cli/src/main/resources/META-INF/native-image/dev/elide/elide-cli/reachability-metadata.json
  packages/engine/api/engine.api
  packages/engine/src/main/kotlin/elide/runtime/core/PolyglotEngine.kt
  packages/engine/src/main/kotlin/elide/runtime/plugins/AbstractLanguagePlugin.kt
  packages/graalvm/api/graalvm.api
  packages/graalvm/src/main/kotlin/elide/runtime/core/internals/graalvm/GraalVMEngine.kt
  packages/tooling/api/tooling.api
  packages/tooling/src/main/kotlin/elide/tooling/project/manifest/ElidePackageManifest.kt
Labels: feature, module:cli

#1535 fix: restore `audit` mode for detekt checks
  .github/workflows/checks.detekt.yml
Labels: bug, tools

#1528 feat: implement node `querystring`
  packages/graalvm/api/graalvm.api
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/js/node/QuerystringAPI.kt
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/js/node/querystring/QueryParams.kt
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/js/node/querystring/QuerystringOptions.kt
  packages/graalvm/src/main/kotlin/elide/runtime/node/querystring/NodeQuerystring.kt
  packages/graalvm/src/test/kotlin/elide/runtime/node/NodeQuerystringTest.kt
Labels: feature, lang:javascript, api:node

#1550 fix: set macos min version to consistent `15.0` value
  .cargo/config.macos-arm64.toml
  packages/cli/build.gradle.kts
  packages/graalvm/build.gradle.kts
Labels: bug, platform:macos

#1560 fix: macos hard-crash related to tracing
  Cargo.toml
Labels: bug, P0, platform:macos, arch:arm64

#1562 fix(cli): reachability metadata for jna
  gradle/elide.versions.toml
  packages/cli/build.gradle.kts
  packages/cli/src/main/resources/META-INF/native-image/dev/elide/elide-cli/reachability-metadata.json
  tools/scripts/scan-reachability-metadata.mts
Labels: bug, lang:javascript, api:node

#1563 fix(cli): reachability metadata for fetch headers
  packages/cli/src/main/resources/META-INF/native-image/dev/elide/elide-cli/reachability-metadata.json
  packages/graalvm/api/graalvm.api
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/intrinsics/js/fetch/FetchHeadersIntrinsic.kt
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/intrinsics/js/fetch/FetchIntrinsic.kt
Labels: bug, lang:javascript

#1565 feat(graalvm-kt): support for powerassert
  gradle/elide.versions.toml
  packages/builder/api/builder.api
  packages/builder/build.gradle.kts
  packages/builder/src/main/kotlin/elide/tooling/jvm/JvmBuildConfigurator.kt
  packages/builder/src/main/kotlin/elide/tooling/kotlin/KotlinCompiler.kt
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/repl/ToolShellCommand.kt
  packages/cli/src/projects/ktjvm/src/test/kotlin/sample/testGreeting.kt
  packages/graalvm-kt/build.gradle.kts
  packages/graalvm-kt/src/main/kotlin/elide/runtime/gvm/kotlin/KotlinCompilerConfig.kt
  packages/tooling/src/main/kotlin/elide/tooling/project/manifest/ElidePackageManifest.kt
Labels: feature, lang:kotlin, tools:test-runner

#1577 chore: dependency updates
  Cargo.lock
  Cargo.toml
  config/bun-version
  gradle/elide.versions.toml
  package-lock.kdl
  package.json
  tools/elide-build/src/main/kotlin/elide/internal/conventions/Constants.kt
Labels: dependencies

#1578 chore: simple elide-built website
  project/website/elide.pkl
  project/website/package-lock.kdl
  project/website/src/global.mts
  project/website/src/global.scss
  project/website/src/home.scss
  project/website/src/index.md
  project/website/src/jobs.md
  project/website/src/team.md
  project/website/wrangler.toml
Labels: documentation, feature, site

#1584 feat: improved project manifest editing
  packages/plugin-idea/.version
  packages/plugin-idea/build.gradle.kts
  packages/plugin-idea/src/main/kotlin/dev/elide/intellij/psi/ElideManifestJvmMainReferenceInspection.kt
  packages/plugin-idea/src/main/kotlin/dev/elide/intellij/psi/ElideManifestReferencesContributor.kt
  packages/plugin-idea/src/main/kotlin/dev/elide/intellij/psi/PklElideModuleResolver.kt
  packages/plugin-idea/src/main/kotlin/dev/elide/intellij/psi/PklExtensions.kt
  packages/plugin-idea/src/main/kotlin/dev/elide/intellij/psi/PsiLookupUtil.kt
  packages/plugin-idea/src/main/kotlin/dev/elide/intellij/settings/ElideConfigurable.kt
  packages/plugin-idea/src/main/resources/META-INF/plugin-pkl.xml
  packages/plugin-idea/src/main/resources/META-INF/plugin.xml
  packages/plugin-idea/src/main/resources/i18n/Strings.properties
  packages/plugin-idea/src/main/resources/inspectionDescriptions/ElideManifestJvmMainMethod.html
  packages/plugin-idea/src/main/resources/inspectionDescriptions/ElideManifestJvmMainReference.html
Labels: enhancement, tools, lang:pkl, lang:kotlin
