Repository elide-dev/elide, pull requests merged in 2025-09, with the labels that each got.

#1604 chore: dependency updates
  Cargo.lock
  Cargo.toml
  gradle.properties
  gradle/elide.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  package-lock.kdl
  package.json
Labels: dependencies

#1651 fix: logging localization crash, terminal warnings
  packages/cli/build.gradle.kts
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/info/ToolInfoCommand.kt
  packages/cli/src/main/kotlin/elide/tool/cli/main.kt
  packages/cli/src/main/kotlin/elide/tool/feature/RelocalizeLogging.kt
  packages/cli/src/main/resources/META-INF/native-image/dev/elide/elide-cli/reachability-metadata.json
  packages/cli/src/main/resources/logback.scmo
  packages/cli/src/main/resources/logback.xml
  tools/scripts/release/build-release.sh
Labels: bug, module:cli, P0

#1668 fix: `--js:strict` and benchmark symbols
  packages/cli/src/main/kotlin/elide/tool/cli/options/EngineJavaScriptOptions.kt
  packages/graalvm/api/graalvm.api
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/js/JsTimers.kt
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/intrinsics/BuildTimeIntrinsicsResolver.kt
  packages/graalvm/src/main/kotlin/elide/runtime/javascript/BrowserStubs.kt
  packages/graalvm/src/main/kotlin/elide/runtime/plugins/js/JavaScript.kt
  packages/graalvm/src/main/kotlin/elide/runtime/plugins/js/JavaScriptConfig.kt
Labels: bug, module:graalvm, module:cli, lang:javascript

#1666 fix: enforce host environment access rules and correct process.env formatting
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/repl/ToolShellCommand.kt
  packages/graalvm/api/graalvm.api
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/js/node/ProcessAPI.kt
  packages/graalvm/src/main/kotlin/elide/runtime/node/process/NodeProcess.kt
  packages/graalvm/src/main/kotlin/elide/runtime/plugins/env/EnvPlugin.kt
  packages/graalvm/src/test/kotlin/elide/runtime/gvm/internals/AbstractDualTest.kt
  packages/graalvm/src/test/kotlin/elide/runtime/node/NodeProcessTest.kt
  packages/graalvm/src/test/kotlin/elide/runtime/plugins/EnvPluginTest.kt
Labels: bug, module:graalvm, P0, api:node

#1671 fix: crash on http server use
  packages/cli/src/main/kotlin/elide/tool/cli/AbstractSubcommand.kt
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/dev/LspCommand.kt
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/repl/ToolShellCommand.kt
  packages/engine/api/engine.api
  packages/engine/src/main/kotlin/elide/runtime/core/PolyglotEngine.kt
  packages/graalvm/api/graalvm.api
  packages/graalvm/src/main/kotlin/elide/runtime/core/internals/graalvm/GraalVMEngine.kt
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/server/http/internal/PipelineRouter.kt
  packages/graalvm/src/main/kotlin/elide/runtime/intrinsics/server/http/netty/NettyHttpResponse.kt
  packages/http/api/http.api
  packages/http/src/commonMain/kotlin/elide/http/DefaultUrlParams.kt
  packages/http/src/commonMain/kotlin/elide/http/Params.kt
Labels: bug, module:graalvm, module:server, module:cli, P0
