Repository elide-dev/elide, pull requests merged in 2025-03, with the labels that each got.

#1266 feat: add support for `queueMicrotask`
  packages/engine/src/main/kotlin/elide/runtime/core/PolyglotContext.kt
  packages/graalvm/api/graalvm.api
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/internals/intrinsics/js/AbstractJsIntrinsic.kt
  packages/graalvm/src/main/kotlin/elide/runtime/javascript/QueueMicrotaskCallable.kt
  packages/graalvm/src/main/kotlin/elide/runtime/plugins/js/Extensions.kt
  packages/graalvm/src/test/kotlin/elide/runtime/intrinsics/js/JsGlobalsTest.kt
  packages/graalvm/src/test/kotlin/elide/runtime/javascript/QueueMicrotaskTest.kt
Labels: lang:javascript, tc:winter

#1271 fix(cli): native image boot to repl
  packages/cli/build.gradle.kts
  packages/cli/src/main/resources/META-INF/native-image/dev/elide/elide-cli/reachability-metadata.json
  packages/graalvm/src/main/kotlin/elide/runtime/core/internals/graalvm/GraalVMEngine.kt
Labels: bug, P0

#1263 test: initial wintertc common minimum api tests
  packages/graalvm/build.gradle.kts
  packages/graalvm/src/test/kotlin/elide/runtime/winter/CommonMinimumTest.kt
Labels: lang:javascript, tc:winter

#1273 feat(graalvm): support webassembly api in js
  packages/entry/src/main/kotlin/elide/entry/main.kt
  packages/graalvm/src/main/kotlin/elide/runtime/core/internals/graalvm/GraalVMEngine.kt
  packages/graalvm/src/main/kotlin/elide/runtime/plugins/js/JavaScript.kt
  packages/graalvm/src/main/kotlin/elide/runtime/plugins/js/JavaScriptConfig.kt
  packages/graalvm/src/test/kotlin/elide/runtime/intrinsics/js/JsGlobalsTest.kt
  packages/graalvm/src/test/kotlin/elide/runtime/winter/CommonMinimumTest.kt
Labels: wasm, lang:javascript, tc:winter

#1277 feat(graalvm): add support for `navigator.userAgent`
  packages/graalvm/api/graalvm.api
  packages/graalvm/src/main/kotlin/elide/runtime/gvm/js/JsError.kt
  packages/graalvm/src/main/kotlin/elide/runtime/javascript/NavigatorBuiltin.kt
  packages/graalvm/src/test/kotlin/elide/runtime/intrinsics/js/JsGlobalsTest.kt
  packages/graalvm/src/test/kotlin/elide/runtime/winter/CommonMinimumTest.kt
Labels: lang:javascript, api:node, tc:winter

#1310 feat: project manifests
  config/detekt/detekt.yml
  gradle/elide.versions.toml
  packages/cli/build.gradle.kts
  packages/cli/src/main/kotlin/elide/tool/cli/Elide.kt
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/info/ToolInfoCommand.kt
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/project/ToolProjectCommand.kt
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/repl/EnvironmentConfig.kt
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/repl/ToolShellCommand.kt
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/tool/ToolInvokeCommand.kt
  packages/cli/src/main/kotlin/elide/tool/io/RuntimeWorkdirManager.kt
  packages/cli/src/main/kotlin/elide/tool/project/CompositePackageManifestService.kt
  packages/cli/src/main/kotlin/elide/tool/project/DefaultProjectManager.kt
  packages/cli/src/main/kotlin/elide/tool/project/ElideProject.kt
  packages/cli/src/main/kotlin/elide/tool/project/PackageManifestService.kt
  packages/cli/src/main/kotlin/elide/tool/project/ProjectConfig.kt
  packages/cli/src/main/kotlin/elide/tool/project/ProjectEcosystem.kt
  packages/cli/src/main/kotlin/elide/tool/project/ProjectInfo.kt
  packages/cli/src/main/kotlin/elide/tool/project/ProjectManager.kt
  packages/cli/src/main/kotlin/elide/tool/project/codecs/ElidePackageManifestCodec.kt
  packages/cli/src/main/kotlin/elide/tool/project/codecs/ManifestCodec.kt
  packages/cli/src/main/kotlin/elide/tool/project/codecs/NodeManifestCodec.kt
  packages/cli/src/main/kotlin/elide/tool/project/codecs/PackageManifestCodec.kt
  packages/cli/src/main/kotlin/elide/tool/project/codecs/PyProjectManifestCodec.kt
  packages/cli/src/main/kotlin/elide/tool/project/codecs/PythonRequirementsManifestCodec.kt
  packages/cli/src/main/kotlin/elide/tool/project/manifest/ElidePackageManifest.kt
  packages/cli/src/main/kotlin/elide/tool/project/manifest/NodePackageManifest.kt
  packages/cli/src/main/kotlin/elide/tool/project/manifest/PackageManifest.kt
  packages/cli/src/main/kotlin/elide/tool/project/manifest/PyProjectManifest.kt
  packages/cli/src/main/kotlin/elide/tool/project/manifest/PythonRequirementsManifest.kt
  packages/cli/src/main/kotlin/elide/tool/project/struct/ElidePackage.kt
  packages/cli/src/main/pkl/Project.pkl
  packages/cli/src/test/kotlin/elide/tool/project/codecs/NodeManifestCodecTest.kt
  packages/cli/src/test/kotlin/elide/tool/project/codecs/PyProjectCodecTest.kt
  packages/cli/src/test/kotlin/elide/tool/project/codecs/PythonRequirementsCodecTest.kt
  packages/cli/src/test/resources/ElideProjectSample.pkl
  packages/cli/src/test/resources/manifests/package.json
  packages/cli/src/test/resources/manifests/pyproject.toml
  packages/cli/src/test/resources/manifests/requirements.txt
Labels: feature, 🚧 WIP, tools, module:cli

#1338 fix(cli): ask before opening links
  packages/cli/build.gradle.kts
  packages/cli/src/main/kotlin/elide/tool/cli/cmd/discord/ToolDiscordCommand.kt
Labels: bug, module:cli
